<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>Portfolio Summary</title>
</head>
<body>
    <div class="portfoliocard left">
        <h1 class="portfoliotitle">CURRENT ALLOCATION</h1>
        <canvas id="currentchart" class="piechart"></canvas>
        <div class="dropdown accountselect">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Account 1 - Checking</a>
            </div>
        </div>
        <div class="table-responsive positiontable">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">%</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MSFT</td>
                        <td>20</td>
                        <td>100</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>AAPL</td>
                        <td>20</td>
                        <td>100</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>AMZN</td>
                        <td>20</td>
                        <td>100</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>NFLX</td>
                        <td>20</td>
                        <td>100</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td>20</td>
                        <td>1</td>
                        <td>1000</td>
                    </tr>
            </table>
        </div>
    </div>
    <button type="button" id="executetrades" class="btn btn-primary btn-lg">Execute Trades</button>
    <div class="portfoliocard right">
        <h1 class="portfoliotitle">TARGET ALLOCATION</h1>
        <canvas id="nextchart" class="piechart"></canvas>
        <div class="table-responsive positiontable">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">%</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MSFT</td>
                        <td>20</td>
                        <td>100</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>AAPL</td>
                        <td>20</td>
                        <td>100</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>AMZN</td>
                        <td>20</td>
                        <td>100</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>NFLX</td>
                        <td>20</td>
                        <td>100</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td>20</td>
                        <td>1</td>
                        <td>1000</td>
                    </tr>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
</body>
</html>